---
import i18next, { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import FormatDate from "@/components/FormatDate.astro";
import { filenameToDateString, getTitleMd } from "@/util/markdown";
import { localizePath } from "astro-i18next";

changeLanguage("ja");

const archive = await getCollection("kiji", ({ data }) => data.language === i18next.language);
---

<PageLayout title="Archive - One Kiji" description="Archive of past news">
  <h1>Archive</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {
        archive.map((kiji) => (
          <tr>
            <td>
              <FormatDate date={new Date(filenameToDateString(kiji.slug))} />
            </td>
            <td>
              <a
                href={localizePath(filenameToDateString(kiji.slug))}
                aria-label={`Kiji from ${filenameToDateString(kiji.slug)}`}
              >
                {getTitleMd(kiji.body)}
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <style>
    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
    }
    th,
    td {
      border: 1px solid var(--black);
      padding: 0.5rem;
    }
  </style>
</PageLayout>
