---
import i18next, { changeLanguage, t } from "i18next";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import FormatDate from "@/components/FormatDate.astro";
import { filenameToDateString, getTitleMd, languageFromFilename } from "@/util";
import { localizePath } from "astro-i18next";

changeLanguage("ja");

const archive = await getCollection("kiji", ({ slug }) => languageFromFilename(slug) === i18next.language);
---

<PageLayout title={t("archive.title")} description={t("archive.description")}>
  <h1>{t("common.archive")}</h1>
  <table>
    <thead>
      <tr>
        <th>{t("common.date")}</th>
        <th>{t("common.title")}</th>
      </tr>
    </thead>
    <tbody>
      {
        archive.map((kiji) => (
          <tr>
            <td>
              <FormatDate date={new Date(filenameToDateString(kiji.slug))} />
            </td>
            <td>
              <a
                href={localizePath(filenameToDateString(kiji.slug))}
                aria-label={t("archive.kiji-from-aria", {
                  date: filenameToDateString(kiji.slug),
                })}
              >
                {getTitleMd(kiji.body)}
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <style>
    h1,
    th {
      text-transform: capitalize;
    }
    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
    }
    th,
    td {
      border: 1px solid var(--black);
      padding: 0.5rem;
    }
  </style>
</PageLayout>
