* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --white: #fbfbfc;
  --whitergb: 251, 251, 252;
  --black: #5a5a5a;
  --blackrgb: 90, 90, 90;
  --darkwhite: #f2f2f7;
  background-color: var(--white);
  color: var(--black);
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5;
  height: 100vh;
  background: linear-gradient(
    90deg,
    var(--white) 0%,
    var(--darkwhite) 19.1%,
    var(--darkwhite) 80.9%,
    var(--white) 100%
  );
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

main {
  width: 61.8vw;
  flex: 1;
}

strong {
  font-family: "AtkinsonHyperlegibleBold", sans-serif;
}

a,
a:visited {
  color: var(--black);
  word-wrap: break-all;
}

a:hover {
  filter: brightness(2);
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
