@function hexToRgb($value) {
  @return (red($value), green($value), blue($value));
}

$white: #fbfbfc;
$black: #5a5a5a;
$darkwhite: #f2f2f7;
$button-hover-bg: #ebebf0;

:root {
  --white: #{$white};
  --whitergb: #{hexToRgb($white)};
  --black: #{$black};
  --blackrgb: #{hexToRgb($black)};
  --darkwhite: #{$darkwhite};
  --darkwhitergb: #{hexToRgb($darkwhite)};
  --button-hover-bg: #{$button-hover-bg};
  --mobile-margin: 24px;
  --button-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(
    90deg,
    var(--white) 0%,
    var(--darkwhite) 19.1%,
    var(--darkwhite) 80.9%,
    var(--white) 100%
  );
  background-color: var(--darkwhite);
  font-variant-numeric: tabular-nums;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

main,
.dialog-panel {
  width: 61.8vw;
}

main {
  flex: 1;
}

strong {
  font-family: "AtkinsonHyperlegibleBold", sans-serif;
}

a,
a:visited {
  color: var(--black);
  word-wrap: break-word;
}

a:hover {
  filter: brightness(2);
}

.close-button {
  all: unset;
  position: absolute;
  top: 1rem;
  left: 0;
  cursor: pointer;
  &::after {
    content: "✕";
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  main,
  .dialog-panel {
    width: 100%;
    padding-left: var(--mobile-margin);
    padding-right: var(--mobile-margin);
  }
  .close-button {
    left: var(--mobile-margin);
  }
}
