@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("/fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AtkinsonHyperlegibleBold";
  src: url("/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "AtkinsonHyperlegibleItalic";
  src: url("/fonts/AtkinsonHyperlegible-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AtkinsonHyperlegibleBoldItalic";
  src: url("/fonts/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --white: #dcdcdc;
  --whitergb: 220, 220, 220;
  --black: #2c2c2c;
  --blackrgb: 44, 44, 44;
  --lightblack: #4f4f4f;
  background-color: var(--white);
  color: var(--black);
  font-family: "AtkinsonHyperlegible", sans-serif;
}

.font-bold {
  font-family: "AtkinsonHyperlegibleBold", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

main {
  width: 61.8vw;
}

a,
a:visited {
  color: var(--lightblack);
  word-wrap: break-word;
  text-decoration: none;
}

a:hover {
  filter: brightness(1);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
