---
import i18next, { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import FormatDate from "@/components/FormatDate.astro";
import { localizePath } from "astro-i18next";
import { filenameToDateString } from "@/util/markdown";

changeLanguage("ja");

let latestPrivacyPolicy = await getCollection("privacy", ({ data }) => data.language === i18next.language).then((collection) => collection.sort((a, b) => new Date(filenameToDateString(a.slug)) <
    new Date(filenameToDateString(b.slug))
    ? 1
    : -1)[0]);
if (!latestPrivacyPolicy) {
    latestPrivacyPolicy = await getCollection("privacy").then((collection) => collection.sort((a, b) => new Date(filenameToDateString(a.slug)) <
        new Date(filenameToDateString(b.slug))
        ? 1
        : -1)[0]);
}
const { Content } = await latestPrivacyPolicy.render();
---

<PageLayout
  title="Privacy Policy - One Kiji"
  description="Privacy policy of One Kiji"
>
  <Content />
  <p>
    The archive of all previous privacy policy can be checked at the
    <a
      href={localizePath("/privacy/archive")}
      aria-label="Archive of One Kiji privacy policy"
      >archive of the privacy policy pages</a
    >.
  </p>
  <p>
    Privacy policy was last updated on
    <FormatDate date={new Date(latestPrivacyPolicy.slug)} />
    and is valid until the next update.
  </p>
</PageLayout>
