---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";

const archives = await getCollection("kiji");
---

<PageLayout title="Archives - One Kiji" description="Archive of past news">
  <h1>Archive</h1>
  <ul>
    {
      archives.map((kiji) => (
        <li>
          <p>
            <a href={kiji.id}>
              <strong>{new Date(kiji.slug).toLocaleDateString()}</strong> -
              {kiji.data.title}
            </a>
          </p>
        </li>
      ))
    }
  </ul>
  <style>
    ul {
      list-style: none;
      padding: 0;
    }
  </style>
</PageLayout>
