---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";

const archives = await getCollection("kiji");
---

<PageLayout title="Archives - One Kiji" description="Archive of past news">
  <h1>Archives</h1>
  <ol>
    {
      archives.map((kiji) => (
        <p>
          <a href={kiji.id}>
            <strong>{new Date(kiji.data.pubDate).toLocaleDateString()}</strong>{" "}
            {kiji.data.title}
          </a>
        </p>
      ))
    }
  </ol>
</PageLayout>
