---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import FormatDate from "@/components/FormatDate.astro";
import { getTitleMd } from "@/util/markdown";

const archive = await getCollection("kiji");
---

<PageLayout title="Archives - One Kiji" description="Archive of past news">
  <h1>Archive</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {
        archive.map((kiji) => (
          <tr>
            <td>
              <FormatDate date={new Date(kiji.slug)} />
            </td>
            <td>
              <a href={kiji.slug} aria-label={`Archive from ${kiji.slug}`}>
                {getTitleMd(kiji.body)}
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <style>
    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
    }
    th,
    td {
      border: 1px solid var(--black);
      padding: 0.5rem;
    }
  </style>
</PageLayout>
