<footer>
  <p>
    &copy; 2023 <a href="/">One Kiji</a>
  </p>
  <p>
    <a href="/privacy">Privacy Policy</a>
  </p>
  <p>
    <a href="about">About</a>
  </p>
</footer>

<style lang="scss">
  footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--lightblack);
    p {
      margin-bottom: 0;
    }
  }
</style>
