---
import Divider from "./Divider.astro";
---

<footer>
  <p>
    &copy; 2023 <a href="/">One Kiji</a>
  </p>
  <div class="divider"></div>
  <p>
    <a href="/archive">Archive</a>
  </p>
  <div class="divider"></div>
  <p>
    <a href="/privacy">Privacy Policy</a>
  </p>
  <div class="divider"></div>
  <p>
    <a href="about">About</a>
  </p>
</footer>

<style lang="scss">
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--lightblack);
    p {
      margin-bottom: 0;
    }
    .divider {
      width: 1px;
      height: 1rem;
      background-color: var(--lightblack);
    }
  }

  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      .divider {
        display: none;
      }
    }
  }
</style>
