---
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import LanguageSelector from "./LanguageSelector.astro";
---

<footer>
  <p>
    &copy; 2023 <a href={localizePath("/")} aria-label={t("footer.home-aria")}
      >One Kiji</a
    >
  </p>
  <div class="divider"></div>
  <p>
    <a href={localizePath("/archive")} aria-label={t("footer.archive-aria")}>
      {t("common.archive")}
    </a>
  </p>
  <div class="divider"></div>
  <p>
    <a href={localizePath("/about")} aria-label={t("footer.about-aria")}>
      {t("common.about")}
    </a>
  </p>
  <div class="divider"></div>
  <p>
    <a
      href={localizePath("/privacy")}
      aria-label={t("footer.privacy-policy-aria")}
    >
      {t("common.privacy-policy")}
    </a>
  </p>
  <LanguageSelector />
</footer>
<style lang="scss">
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--black);
    p {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      text-transform: capitalize;
    }
    .divider {
      width: 1px;
      height: 1rem;
      background-color: var(--black);
    }
  }

  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      .divider {
        display: none;
      }
    }
  }
</style>
