---
import "@/styles/article.scss";
import i18next from "i18next";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import LanguageSelector from "@/components/LanguageSelector.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const props = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead
      title={props.title}
      description={props.description}
      image={props.image}
    />
  </head>
  <body>
    <main>
      <article>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
