---
import { changeLanguage, t } from "i18next";
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";

changeLanguage("en");

export async function getStaticPaths() {
    const kijis = await getCollection("privacy");
    return kijis.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"privacy">;
const privacy = Astro.props;
const title = `${privacy.slug} - ${t("privacy.archive.title")}`;
const { Content } = await privacy.render();
---

<PageLayout
  title={title}
  description={t("privacy.archive.specified-date", privacy.slug)}
>
  <h1>{title}</h1>
  <Content />
</PageLayout>
