---
import i18next, { changeLanguage, t } from "i18next";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import FormatDate from "@/components/FormatDate.astro";
import { localizePath } from "astro-i18next";
import { filenameToDateString } from "@/util";
import { formatDate } from "@/components/FormatDate.astro";

changeLanguage("en");

const latestPrivacyPolicy = await getCollection(
  "privacy",
  ({ data }) => data.language === i18next.language
).then((collection) =>
  collection.sort((a, b) =>
    new Date(filenameToDateString(a.slug)) <
    new Date(filenameToDateString(b.slug))
      ? 1
      : -1
  )
);
---

<PageLayout
  title={t("privacy.archive.title")}
  description={t("privacy.archive.description")}
>
  <h1>{t("privacy.archive.title")}</h1>
  <ul>
    {
      latestPrivacyPolicy.map(({ slug }) => (
        <li>
          <p>
            <a
              href={localizePath(`/privacy/${slug}`)}
              aria-label={t("privacy.archive.list-link-aria", {
                date: formatDate(new Date(slug)) || "test",
              })}
            >
              <FormatDate date={new Date(slug)} />
            </a>
          </p>
        </li>
      ))
    }
  </ul>
  <style>
    ul {
      list-style: none;
      padding: 0;
    }
  </style>
</PageLayout>
