---
import RssReader from "@/components/RssReader";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout
  title="RSS Reader - One Kiji"
  description="Read news in our interface."
>
  <!-- <input
    type="text"
    placeholder="https://onekiji.com/feed.xml"
    id="rss-input"
    autofocus
  />
  <div id="feed">
    <h1>Feed</h1>
    <div id="feed-items"></div>
  </div> -->
  <RssReader client:load />
</PageLayout>
<!-- <script>
  import { z } from "zod";

  const rssInput = document.getElementById("rss-input") as HTMLInputElement;
  const feed = document.getElementById("feed") as HTMLDivElement;
  const urlSchema = z.string().url();
  rssInput.addEventListener("input", (e) => {
    const url = rssInput.value;
    if (urlSchema.safeParse(url).success) {
      getFeed(url);
      feed.classList.add("show");
    } else {
      feed.classList.remove("show");
    }
  });

  async function getFeed(url: string) {
    console.log(url);
  }
</script> -->
<style is:global lang="scss">
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  input {
    padding: 1rem;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    max-width: 30rem;
    background-color: transparent;
  }
</style>
